/* Updated styles.css */

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.main-container {
  width: 80%;
  margin: 0 auto;
  padding: 2em;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

h1 {
  font-size: 2.4em;
  margin-bottom: 0.3em;
  color: #1a1a1a;
}

p {
  font-size: 1em;
  margin-bottom: 1em;
  color: #1a1a1a;
}

.content-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.left-column {
  flex: 1;
  margin-right: 2em;
}

.map-container {
  flex: 1;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
  position: relative;
  margin-bottom: 2em;
}

.search-form-container {
  margin-bottom: 2em;
}

.search-form {
  display: flex;
  align-items: center;
}

.search-form label {
  font-weight: bold;
  margin-right: 0.5em;
}

.search-form input[type='text'] {
  flex-grow: 1;
  padding: 0.5em;
  margin-right: 1em;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.search-form button {
  padding: 0.5em 1em;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
}

.search-form button:hover {
  background-color: #0056b3;
}

.map-container {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
  position: relative;
  margin-bottom: 2em;
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.office-locations {
  margin-bottom: 2em;
}

.office-locations h2 {
  font-size: 1.8em;
  margin-bottom: 1em;
  color: #1a1a1a;
}

.office-locations ul {
  list-style-type: none;
  padding: 0;
}

.office-locations li {
  margin-bottom: 1.5em;
}

.office-locations h3 {
  font-size: 1.4em;
  margin-bottom: 0.5em;
  color: #1a1a1a;
}

.office-locations p {
  margin-bottom: 0.2em;
  font-size: 0.9em;
  color: #1a1a1a;
}
